* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Sections */

body {
  background-color: #d8d9d0;
  font-family: monospace, Arial, sans-serif;
  color: #f9fafb;
  padding: 48px 64px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: #111410;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

h1 {
  font-size: 48px;
  text-transform: capitalize;
  font-family: inter, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #111410;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #111410;
  margin-bottom: 16px;
  padding: 16px 24px;
  border: 4px solid rgb(76, 76, 76);
  display: flex;
  align-items: center;
  gap: 24px;
}

.icons {
  width: 16px;
  height: auto;
  margin-right: 5px;
}

.category {
  margin-bottom: 12px;
}

.tag {
  text-transform: uppercase;
  font-size: 16px;
  font-family: inter, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  padding: 3px 10px;
  color: wheat;
}

.vote-buttons {
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  margin-left: auto;
}

.vote-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  color: rgb(47, 47, 47);
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 100px;
  font-family: Montserrat;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid rgb(137, 137, 137);
}

.vote-buttons button:hover {
  background-color: #232323;
  color: white;
  transition: all 0.5s;
}

ul {
  list-style: none;
}

.sourse,
.source:visited {
  color: #d18c30;
  text-decoration: none;
  margin-left: 12px;
}

.sourse:hover,
.source:active {
  color: rgb(171, 171, 171);
  transition: all 0.5s;
}

.btn {
  font-family: inter, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  padding: 6px 16px;
  color: white;
  border: none;
  border-radius: 500px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  font-weight: 800;
  padding: 14px 24px;
  background-image: linear-gradient(135deg, #e18a2a, #c86a15);
  color: rgb(255, 255, 255);
  box-shadow: 0 6px 0px rgba(168, 85, 3, 0.85);
}

.btn-all-categories {
  background-image: linear-gradient(135deg, #e18a2a, #c86a15);
  margin-bottom: 20px;
  width: 100%;
  color: white;
  box-shadow: 0 6px 0px rgba(168, 85, 3, 0.85);
}

.btn-category {
  width: 100%;
}
