* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d9d0;
  font-family: monospace, Arial, sans-serif;
  color: #f9fafb;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
}

.fact-form {
  background-color: #111410;
  margin-bottom: 40px;
  padding: 16px 40px;
}

h1 {
  font-size: 48px;
  text-transform: capitalize;
  font-family: inter, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #111410;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #111410;
  margin-bottom: 16px;
  padding: 16px 24px;
  border: 4px solid rgb(76, 76, 76);
}

.tag {
  text-transform: uppercase;
  font-size: 16px;
  font-family: inter, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
}

ul {
  list-style: none;
}
