* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Sections */

body {
  background-color: #d8d9d0;
  font-family: monospace, Arial, sans-serif;
  color: #f9fafb;
  padding: 48px 64px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 48px;
  text-transform: capitalize;
  font-family: inter, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #111410;
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #111410;
  margin-bottom: 16px;
  padding: 16px 24px;
  border: 4px solid rgb(76, 76, 76);
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

.icons {
  width: 16px;
  height: auto;
  margin-right: 5px;
}

.category {
  margin-bottom: 12px;
}

.tag {
  text-transform: uppercase;
  font-size: 16px;
  font-family: inter, Arial, sans-serif;
  font-weight: 600;
  font-style: italic;
  padding: 3px 16px;
  color: wheat;
  border-radius: 100px;
}

.vote-buttons {
  display: flex;
  flex-shrink: 0;
  gap: 12px;
  margin-left: auto;
}

.vote-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  color: rgb(47, 47, 47);
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 100px;
  font-family: Montserrat;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid rgb(137, 137, 137);
}

.vote-buttons button:hover {
  background-color: #232323;
  color: white;
  transition: all 0.5s;
}

ul {
  list-style: none;
}

.sourse,
.source:visited {
  color: #d18c30;
  text-decoration: none;
  margin-left: 12px;
}

.sourse:hover,
.source:active {
  color: rgb(171, 171, 171);
  transition: all 0.5s;
}

.btn {
  font-family: inter, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  padding: 6px 16px;
  color: white;
  border: none;
  border-radius: 500px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  font-weight: 800;
  padding: 14px 24px;
  background-image: linear-gradient(135deg, #e18a2a, #c86a15);
  color: rgb(255, 255, 255);
  box-shadow: 0 6px 0px rgba(168, 85, 3, 0.85);
}

@media (max-width: 500px) {
  .btn-large {
    font-size: 8px;
    margin-left: 12px;
    padding: 8px 12px;
  }
}

.btn-all-categories {
  background-image: linear-gradient(135deg, #e18a2a, #c86a15);
  margin-bottom: 20px;
  width: 100%;
  color: white;
  box-shadow: 0 6px 0px rgba(168, 85, 3, 0.85);
}

.btn-category {
  width: 100%;
}

/* Fact Form */

.fact-form {
  background-color: #111410;
  margin-bottom: 40px;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #f0f0ee;
  padding: 10px 14px; /* smaller left/right padding */
  border: none;
  border-radius: 100px;
  font-family: Montserrat;
  font-size: 16px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form input::placeholder {
  color: #787878;
}

.fact-form span {
  font-family: inter;
  font-weight: 800;
  font-size: 16px;
  margin-right: 16px;
}

@media (max-width: 1100px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
